.about-image {
  border-radius:50%;
  position: absolute;
  left:3%;
  width:20%;
  max-width:250px;
}

.about {
  display:flex;
  flex-wrap: wrap;
  width:100%;
  box-sizing: border-box;
  height:100vh;
  padding:100px;
  align-items: flex-end;
  flex-direction: column;
  justify-content: space-evenly;
  background-color: #111;
}

.about-list {
  width:60%;
}

@media only screen and (max-width: 768px) {
  /* For mobile phones: */

  .about {
    padding:50px 20px;
  }

  .about-image {
    display:none;
  }

  .about-container {
    display:flex;
    flex-direction:row-reverse;
    justify-content: space-between;
    align-items:center;
  }

  .about-header {
    order:1;
  }

  .about-list {
    padding:20px;
    box-sizing: border-box;
  }

}
