.contact-container {
  width:80%;
  padding:0 100px;
  height:100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  box-sizing: border-box;
}

@media only screen and (max-width: 768px) {
  /* For mobile phones: */

  .contact-container {
    padding:20px;
    width:100%;
  }

}
