@keyframes bounce {
  from {
    bottom: 25px;
  }

  to {
    bottom:50px;
  }
}

@keyframes fadeInDown {
  from {
    opacity: 0;
    transform: translateY(-20px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.fade-down {
  animation:fadeInDown 0.75s ease-in-out forwards;
}
